<div>
  <div class="text-light">
    <ng-container *ngIf="file.isDirectory">
      <button (click)="openDirectory()">></button>
    </ng-container>
    {{file.name}}{{file.extension}}
  </div>
  <ng-container *ngIf="isOpenedDirectory$ | async as isOpenedDirectory">
    <ng-container *ngIf="isOpenedDirectory">
      <ng-container *ngFor="let nestedFile of nestedFiles$ | async">
        <app-file-item [file]="nestedFile"></app-file-item>
      </ng-container>
    </ng-container>
  </ng-container>
</div>