<ng-container *ngIf="editor$ | async as editor">
  <ng-container *ngIf="editor.tabBarId">
    <app-tab-bar [tabBarId]="editor.tabBarId"></app-tab-bar>
  </ng-container>
  <div
    #textarea
    class="textarea"
    contenteditable="true"
    [style.white-space]="whiteSpace$ | async"
    [hidden]="hidden$ | async"
    (input)="onInput($event)"
    (keydown)="onKeydown($event)"
  ></div>
  <ng-container *ngIf="updateContent$ | async"><!-- empty --></ng-container>
  <ng-container *ngIf="inputSync$ | async"><!-- empty --></ng-container>
</ng-container>
