:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

app-project-tree {
  width: 350px;
}

.full-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
  display: flex;
}

app-editor {
  flex-grow: 1;
  flex-basis: 100%;
}
