@import 'src/mixins.scss';

:host {
  display: block;
}

.project-name {
  @include label();
  @include padx(0.5);
}

.context-menu-trigger {
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}
