@import 'src/mixins.scss';

:host {
  display: inline-block;

  app-menu-item {
    width: 100%;
  }
}

.menuItem {
  position: relative;

  button {
    @include label();
    width: 100%;
  }

  .nestedMenuItems {
    @include hide();
    position: absolute;
    left: 0px;
    z-index: 100;

    &:hover {
      @include show(block);
    }
  }

  &:hover > .nestedMenuItems {
    @include show(block);
  }
}
