@import 'src/mixins.scss';

:host {
  display: inline-block;
  position: relative;
}

app-menu-item {
  width: 100%;
}

button {
  @include label();
  width: 100%;
}

.nested-menu-items {
  position: absolute;
  left: 0px;
  z-index: 100;
}
