@import 'src/mixins.scss';

.menuItem {
  position: relative;
}

.nestedMenuItems {
  @include hide;
  position: absolute;
  left: 0px;
  width: fit-content;
}

.menuItem:hover > .nestedMenuItems,
.nestedMenuItems:hover {
  @include show(block);
}
