<ng-container *ngIf="menuItem$ | async as menuItem">
  <span (mouseenter)="onOffHover()" (mouseleave)="onOffHover()">
    <button (click)="click()">
      <app-pre-post-symbols [preSymbol]="menuItem.preSymbol" [postSymbol]="menuItem.postSymbol" pushPostSymbol="true">
        {{ menuItem.label }}
      </app-pre-post-symbols>
    </button>
    <ng-container *ngIf="menuItem.isOpened">
      <span class="nested-menu-items {{ openDirClass }}" (appOffClick)="offClickNestedMenuItems($event)">
        <ng-container *ngFor="let nestedMenuItemId of menuItem.menuItemIds">
          <app-menu-item [menuItemId]="nestedMenuItemId"></app-menu-item>
        </ng-container>
      </span>
    </ng-container>
  </span>
</ng-container>
