<ng-container *ngIf="projectTree$ | async as projectTree">
  <div
    class="context-menu-trigger"
    [appContextMenuTrigger]="projectTree.contextMenuId"
    [appContextProps]="contextProps$ | async"
  >
    <ng-container *ngIf="projectTree.rootDirectoryItemId">
      <app-directory-item [directoryItemId]="projectTree.rootDirectoryItemId"></app-directory-item>
    </ng-container>
  </div>
  <ng-container *ngIf="projectTree.contextMenuId">
    <app-context-menu [contextMenuId]="projectTree.contextMenuId"></app-context-menu>
  </ng-container>
  <ng-container *ngIf="projectTree.directoryItemContextMenuId">
    <app-context-menu [contextMenuId]="projectTree.directoryItemContextMenuId"></app-context-menu>
  </ng-container>
  <ng-container *ngFor="let entry of projectTree.fileItemContextMenuIds | keyvalue">
    <app-context-menu [contextMenuId]="entry.value"></app-context-menu>
  </ng-container>
</ng-container>
