@mixin hide() {
  display: none;
  opacity: 0;
  visibility: hidden;
}

@mixin show($display) {
  display: $display;
  opacity: 1;
  visibility: visible;
}

@mixin padx($value) {
  padding-left: $value;
  padding-right: $value;
}
