@import 'src/mixins.scss';

:host {
  display: block;
  width: fit-content;

  app-directory-item,
  app-file-item,
  app-focus-input {
    position: relative;
    left: 21px;
  }

  app-focus-input {
    display: block;
  }
}

button {
  @include label();
}
