<ng-container *ngIf="directoryItem$ | async as directoryItem">
  <ng-container *ngIf="directory$ | async as directory">
    <ng-container *ngIf="projectTree$ | async as projectTree">
      <button (click)="open()" [appContextMenuTrigger]="projectTree.directoryItemContextMenuId">
        <app-pre-post-symbols [text]="directory.name" preSymbol="25B6"></app-pre-post-symbols>
      </button>
      <ng-container *ngIf="directoryItem.isOpened">
        <ng-container *ngFor="let directoryItemId of directoryItem.directoryItemIds">
          <app-directory-item [directoryItemId]="directoryItemId"></app-directory-item>
        </ng-container>
        <ng-container *ngFor="let fileItemId of directoryItem.fileItemIds">
          <app-file-item [fileItemId]="fileItemId"></app-file-item>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
